.window {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin: 200px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-ok {
  border: 2px solid #0D5E1B;
  color: #0D5E1B;
  background-color: #70FF88;
}

.user-fail {
  border: 2px solid #D50E0E;
  color: #D50E0E;
  background-color: #EE8989;
}

.user-created {
  border: 2px solid #2615C3;
  color: #2615C3;
  background-color: #AAA5D7;
}

.auth-form {
  margin: 200px auto;
  width: 30%;
  padding: 30px;
  border: 2px solid #33d;
  border-radius: 10px;
  background-color: #99f;
}

.field {
  display: block;
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
}

.field input {
  width: 100%;
  padding: 5px;
  height: 1.5rem;
}

.submit {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #33d;
  border: 2px solid #fff;
  font-weight: bold;
  cursor: pointer;
}

.submit:hover {
  color: #33d;
  background-color: #fff;
}

.title {
  text-align: center;
  color: #fff;
}
